:root {
    --bg: white;
    --fg: whitesmoke;

    --text: #2A2A2A;
    --second: #9c98a0;
    --link: #496eb8;
}



body {
    background-color: var(--bg);
    
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 00;
    font-style: normal;
    color: var(--text);
}

a {
    color: var(--link);
}

.page-links {
    font-size: 30px;
    word-spacing: 15px;
    
    position: absolute;
    left: 35px;
    top: 32px;
    
}

.page-links a {
    color: var(--text);
}

.page-links a:hover {
    color: var(--second);
}

.page-links .dotted {
    text-decoration: underline dotted;
}

.page-links .none {
    text-decoration: none;
}

.lang-button {
    --ol-size: 3px;
    --neg-ol-size: -3px;

    position: absolute;
    right: 35px;
    top: 30px;

    font-size: 34px;
    font-weight: 800;
    color: var(--text);
    text-decoration: none;
    z-index: 1;
    text-shadow:
    var(--neg-ol-size)  var(--neg-ol-size)  0 var(--bg),
    var(--ol-size)      var(--neg-ol-size)  0 var(--bg),
    var(--neg-ol-size)  var(--neg-ol-size)  0 var(--bg),
    var(--ol-size)      var(--ol-size)      0 var(--bg);
}

.lang-globe {
    position: absolute;
    z-index: -1;
    width: 56px;
    right: -8px;
    top: -6px;
}

.hero {
    position: relative;
    margin: 0 auto;
    width: 800px;
    padding: 80px 30px;

    background-color: var(--bg)
}

.header {
    font-size: 50px;
    font-weight: 900;

    margin-bottom: 0;
}

.wave-emoji {
    height: 45px;
    width: 65px;
    position: relative;
    top: 1.5px;

    filter: drop-shadow(0 0 1px var(--text)) blur(0.1px);
}

.text {
    font-size: 32px;
    margin: 0;
}

.markleft-text {
    font-size: 32px;
}

.markleft-text p {
    margin: 0;
}

.age {
    display: inline-block;
    text-align: right;
    font-variant-numeric: tabular-nums;
}

hr {
    border: 4px solid var(--text);
    border-radius: 5px;
    margin: 20px 0 20px 0;
}

.godot-emoji {
    width: 35px;
    position: relative;
    top: 6px;

    filter: brightness(150%) contrast(80%) drop-shadow(0 0 2px var(--text)) blur(0.2px);
}