:root {
    --bg: white;
    --fg: white;
    --text: black;
    --second: black;
}



body {
    background-color: var(--bg);
    
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 00;
    font-style: normal;
    color: var(--text);
}

.lang-button {
    --ol-size: 3px;
    --neg-ol-size: -3px;

    position: absolute;
    right: 35px;
    top: 30px;

    font-size: 34px;
    font-weight: 800;
    color:var(--text);
    text-decoration: none;
    text-shadow:
    var(--neg-ol-size)  var(--neg-ol-size)  0 var(--bg),
    var(--ol-size)      var(--neg-ol-size)  0 var(--bg),
    var(--neg-ol-size)  var(--neg-ol-size)  0 var(--bg),
    var(--ol-size)      var(--ol-size)      0 var(--bg);
}

.lang-globe {
    position: absolute;
    z-index: -1;
    width: 56px;
    right: -8px;
    top: -6px;
}

.hero {
    margin: 0 auto;
    width: 800px;
    padding: 10px 30px;

    background-color: var(--fg)
}

.header {
    font-size: 50px;
    font-weight: 900;

    margin-bottom: 0;
}

.wave-emoji {
    height: 45px;
    width: 65px;
    position: relative;
    top: 1.5px;
}

.header-tagline {
    font-size: 30px;
    margin: 0;
}

.age {
    display: inline-block;
    text-align: right;
    font-variant-numeric: tabular-nums;
}

hr {
    border: 4px solid var(--second);
    border-radius: 5px;
    margin: 20px 0 20px 0;
}