:root {
    --bg: #fff1cd;

    --text: #33312c;
    --second: #a09182;
    --link: #497db8;
}

html {
    scrollbar-gutter: stable;
}

body {
    background-color: var(--bg);
    
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--text);
}

::-webkit-scrollbar {
    width: 14px;
    height: 50px;
}

::-webkit-scrollbar-thumb {
    background: color-mix(in hsl, var(--second), var(--bg));
    border-radius: 6px;
    cursor: pointer;
}

a {
    color: var(--link);
}

.page-links {
    font-size: 30px;
    word-spacing: 16px;
    
    position: absolute;
    top: 32px;
    
    user-select: none;
    -webkit-user-select: none;
}

.page-links a {
    color: var(--text);
}

.page-links a:hover {
    color: var(--second);
}

.page-links .dotted {
    text-decoration: underline dotted;
}

.page-links .none {
    text-decoration: none;
}

.lang-button {
    --ol-size: 3px;
    --neg-ol-size: -3px;

    position: absolute;
    right: 35px;
    top: 30px;

    font-size: 34px;
    font-weight: 800;
    color: var(--text);
    text-decoration: none;
    z-index: 1;
    text-shadow:
    var(--neg-ol-size)  var(--neg-ol-size)  0 var(--bg),
    var(--ol-size)      var(--neg-ol-size)  0 var(--bg),
    var(--neg-ol-size)  var(--neg-ol-size)  0 var(--bg),
    var(--ol-size)      var(--ol-size)      0 var(--bg);

    user-select: none;
    -webkit-user-select: none;
}

.lang-globe {
    position: absolute;
    z-index: -1;
    width: 56px;
    right: -8px;
    top: -6px;
}

.hero {
    position: relative;
    margin: 0 auto;
    width: 800px;
    padding: 80px 30px;
}

.header {
    font-size: 50px;
    font-weight: 900;

    margin-bottom: 0;
    display: inline-flex;
}

.wave-emoji {
    height: 45px;
    width: 65px;

    line-height: 0;
    transform: translateY(4px) translateX(30px);

    filter: drop-shadow(0 0 1px color-mix(in hsl, var(--text), var(--second))) blur(0.1px);
}

.text {
    font-size: 32px;
    margin: 0;
}

.text * {
    margin: 0;
}

.age {
    display: inline-block;
    text-align: right;
    font-variant-numeric: tabular-nums;
}

hr {
    border: 4px solid var(--text);
    border-radius: 5px;
    margin: 20px 0 20px 0;
}

.buttons {
    font-size: 20px;
}

.buttons img {
    width: 123px;
    height: 39px;
}

.copy-button {
    all: unset;
    cursor: pointer;
}

.godot-emoji {
    width: 35px;
    position: relative;
    top: 6px;

    filter: brightness(150%) contrast(80%) drop-shadow(0 0 2px color-mix(in hsl, var(--text), var(--second))) blur(0.2px);
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
    margin: 10px 0;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 3px solid var(--text);
    border-radius: 3px;
    box-shadow: 12px 12px 1px color-mix(in hsl, var(--text), var(--second));
    
    width: 319px;
    min-height: 200px;
    margin: 10px;
    padding: 10px 20px 15px 20px;
}

.project > * {
    padding: 5px;
    margin: 0;
}

.project-title {
    font-size: 25px;
    color: var(--text);
}

.project-img {
    width: 310px;
    border-radius: 3px;
    object-fit: cover;
    box-shadow: 1px 0.5px 4px color-mix(in hsl, var(--text), var(--second));
}

.error-emoji {
    width: 75px;

    line-height: 0;
    transform: translateY(-4px) translateX(35px);

    filter: drop-shadow(0 0 1px color-mix(in hsl, var(--text), var(--second))) blur(0.1px);
}

.blog-date {
    display: block;
    text-align: left;
    width: 97%;
}

.blog-img {
    width: 460px;
    border-radius: 3px;
    object-fit: cover;
    box-shadow: 1px 0.5px 4px color-mix(in hsl, var(--text), var(--second));
}

.blog-text {
	font-size: 18px;
	white-space: normal;
}

.blog-text * {
	white-space: normal;
}

.blog-text em,
.blog-text strong {
	display: inline;
}

.to-top {
    position: fixed;
    right: 42px;
    bottom: 32px;
    width: 55px;
    height: 55px;

    border: none;
    border-radius: 999px;

    background: color-mix(in hsl, var(--second), var(--bg));
    color: var(--bg);
    font-size: 28px;
    z-index: 999;
    box-shadow: -0.5px 1px 3px color-mix(in hsl, var(--text), var(--second));

    cursor: pointer;

    display: inline-block;
    transform: rotate(-90deg);

    transition:
        background-color 150ms ease,
        color 150ms ease,
        box-shadow 150ms ease,
        transform 150ms ease;
}

.to-top:hover {
    background: color-mix(in hsl, var(--text), var(--second));
}

.sad-emoji {
    width: 40px;
    position: relative;
    top: 9px;

    filter: drop-shadow(0 0 1.5px color-mix(in hsl, var(--text), var(--second))) blur(0.2px);
}